<form [formGroup]="form" class="form-group" (ngSubmit)="onSubmit()">
    <label for="fullname">Fullname</label>
    <input type="text" class="form-control" formControlName="fullname">
    <button type="button" class="btn btn-success" (click)="newAddress()">More address</button>

    <div formArrayName="addressList" *ngFor="let address of getListAddress().controls; let i=index">
        <div [formGroupName]="i">
            <label for="street">Street</label>
            <input type="text" class="form-control" formControlName="street">
            <label for="address">Address</label>
            <input type="text" class="form-control" formControlName="address">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city">
            <label for="country">Country</label>
            <input type="text" class="form-control" formControlName="country">
        </div>
        <button class="btn btn-danger" (click)="delAddress(i)">Delete</button>
        <p>---------------------------------------------------------------</p>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>