<button class="formbold-btn color-green" type="button" (click)="addAddress()">
  Add Address
</button>
<div formArrayName="address">
  <div
    class="flexrow"
    *ngFor="let address of formarray.controls; let i = index"
    [formGroupName]="i">
    <div class="formbold-input-flex">
      <div>
        <label for="addressline" class="formbold-form-label">
          Address Line
        </label>
        <input
          type="text"
          class="formbold-form-input"
          formControlName="addressline" />
        <app-showerror
          [form]="getAdress(i) || emptyFormGroup"
          [controlname]="'addressline'" />
      </div>
      <div>
        <label for="city" class="formbold-form-label"> City </label>
        <input type="text" class="formbold-form-input" formControlName="city" />
        <app-showerror
          [form]="getAdress(i) || emptyFormGroup"
          [controlname]="'city'" />
      </div>
      <div>
        <label for="city" class="formbold-form-label"> </label>
        <button
          class="formbold-btn color-red"
          type="button"
          (click)="deleteAdress(i)"
          *ngIf="i !== 0">
          Remove
        </button>
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="post" class="formbold-form-label"> Post </label>
        <input type="text" class="formbold-form-input" formControlName="post" />
        <app-showerror
          [form]="getAdress(i) || emptyFormGroup"
          [controlname]="'post'" />
      </div>
      <div>
        <label for="country" class="formbold-form-label"> Country </label>
        <input
          type="text"
          class="formbold-form-input"
          formControlName="country" />
        <app-showerror
          [form]="getAdress(i) || emptyFormGroup"
          [controlname]="'country'" />
      </div>
      <div></div>
    </div>
  </div>
</div>
