<div class="formcenter">
    <div class="card-body">
        <form [formGroup]="dynamicform" (ngSubmit)="onSubmit()">
            <!-- <lib-country-list ></lib-country-list> -->
            <h5 class="card-title">Dynamic Form</h5>
            <div class="form-group question">
                <label for="question">Question</label>
                <select id="question" class="form-control" formControlName="question" (change)="newQA()">
                    <option *ngFor=" let question of questions" [ngValue]="question" >{{question}}</option>
                </select>
            </div>

            <div>
                <label for="question">Q/A</label>
                <div formArrayName="answers" *ngFor="let answer of answers.controls; let i = index">
                    <div>
                        <label for="answer">Question: {{answer.value.question}}</label>
                        <div class="flexrow">
                            <input type="text" class="form-control Answer" name="{{i}}" formControlName="{{i}}" [value]="answer.value.answer">
                            <button class="btn btn-danger" (click)="delAnswer(i, answer.value)">Delete</button>
                        </div>
                    </div>
                    <div *ngIf="answer.invalid && (answer.touched || answer.dirty)">
                        <span class="text-danger" *ngIf="answer.errors?.['required']">Answer is required</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary submit">Submit</button>
        </form>
    </div>
</div>