<div class="formcenter">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" formControlName="username">
                    <div
                        *ngIf="registrationForm.controls['username'].invalid && (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)">
                        <div class="text-danger" *ngIf="registrationForm.controls['username'].errors?.['required']">
                            Username is required.
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls['username'].errors?.['minlength']">
                            Username must
                            least 6
                            characters.</div>
                        <div class="text-danger" *ngIf="registrationForm.controls['username'].errors?.['maxlength']">
                            Username cannot exceed
                            16
                            characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" formControlName="password">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword"
                        formControlName="confirmpassword">
                </div>
                <div class="text-danger"
                    *ngIf="registrationForm.errors?.['checkpass'] && (registrationForm.controls['confirmpassword'].touched || registrationForm.controls['confirmpassword'].dirty)">
                    Password not match</div>
                <button type="submit" class="btn btn-success" [disabled]="!registrationForm.valid">Register</button>
            </form>
            <!-- <div>{{ registrationForm.value | json }}</div> -->
            <!-- <div>Is form valid? {{ registrationForm.valid }}</div> -->
        </div>
    </div>
</div>