<table class="table">
    <thead>
        <tr>
            <th scope="col">Step</th>
            <th scope="col">Hướng dẫn</th>
            <th scope="col">Lệnh</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>install angular cli</td>
            <td>npm install -g &#64;angular/cli</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>in powershell</td>
            <td>Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>create project</td>
            <td>ng new name --no-standlone</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>run project</td>
            <td>ng serve -o</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>generate component</td>
            <td>ng g c name --skip-tests</td>
        </tr>
    </tbody>
</table>