<div class="body">
    <h5 class="titleform">EXAM FORM</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title</label>
            <input type="text" class="form-control" class="form-control" formControlName="title" placeholder="Final Exam">
            <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index">
                <div class="flexcolumn question" [formGroupName]="i">
                    <label for="question">Question: {{i+1}}</label>
                    <input type="text" class="form-control" formControlName="question" placeholder="What eat for lunch?">
                    <div formArrayName="answers" *ngFor="let answer of getAnswers(i).controls; let j =index">
                        <div class="flexcolumn" [formGroupName]="j">    
                            <div>
                                <label for="answer">Answer: {{j+1}}</label>
                            </div>
                            <div class="flexrow">
                                <div>
                                    <input type="text" class="form-control" formControlName="answer" placeholder="eat Pho">
                                </div>
                                <div>
                                    <button class="btn btn-danger" (click)="deleteAnswer(i, j)">Delete Answer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flexbutton">
                        <button class="btn btn-success" (click)="addAnswer(i)">ADD ANSWER</button>
                        <button class="btn btn-danger" (click)="deleteQuestion(i)">Delete Question</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="flexbutton">
            <button class="btn btn-success" (click)="addQuestion()">ADD QUESTION</button>
            <button class="btn btn-primary" (click)="onSubmit()">SUBMIT</button>
        </div>
    </form>
</div>