<div *ngIf="isInvalidandTouched(model)">
  <!-- COMMON VALIDATE -->
  <div class="text-danger" *ngIf="model.errors?.['required']">
    {{ model.name }} is required.
  </div>
  <div class="text-danger" *ngIf="model.errors?.['minlength']">
    {{ model.name }} must be at least
    {{ model.errors?.['minlength'].requiredLength }} characters long.
  </div>
  <div class="text-danger" *ngIf="model.errors?.['maxlength']">
    {{ model.name }} cannot exceed
    {{ model.errors?.['maxlength'].requiredLength }} characters.
  </div>
  <div class="text-danger" *ngIf="model.errors?.['email']">
    Invalid format Email
  </div>

  <!-- CUSTOM VALIDATE -->
  <!-- Phone validate -->
  <div *ngIf="model.name === 'phone'">
    <div class="text-danger" *ngIf="model.errors?.['pattern']">
      {{ model.name }} Only number
    </div>
    <!-- <div class="text-danger" *ngIf="model.errors?.['itnlphone']">
            Phone incorrect for the selected country
        </div> -->
  </div>
  <div
    class="text-danger"
    *ngIf="model.name === 'username' && model.errors?.['pattern']">
    {{ model.name }} must contain only number and letters
  </div>
  <div
    class="text-danger"
    *ngIf="model.name === 'password' && model.errors?.['pattern']">
    Your password must contain at least one uppercase, one lowercase, and one
    number
  </div>
  <div class="text-danger" *ngIf="model.errors?.['whitespace']">
    {{ model.name }} cannot contain white space
  </div>
</div>
<div
  class="text-danger"
  *ngIf="model.name === 'confirmpassword' && model.errors?.['mismatch']">
  Password mismatch
</div>
