<table class="table">
    <thead>
        <tr>
            <th scope="col">Day 6</th>
            <th scope="col">Day 7</th>
            <th scope="col">Day 8</th>
            <th scope="col">Day 9</th>
            <th scope="col">Day 10</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li><a routerLink="1">Form Input</a></li>
                    <li><a routerLink="2">Validate Data</a></li>
                    <li><a routerLink="3">Reactive Form</a></li>
                    <li><a routerLink="4">Dynamic Form</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a>Why do we need to use Service</a></li>
                    <li><a>Simple Service</a></li>
                    <li><a>Working with Data Service</a></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>