<!-- <nav class="nav nav1">
  <a class="nav-link" routerLink="/private/exercises/profile/admin">Admin </a>
  <a class="nav-link" routerLink="/private/exercises/profile/employee"
    >Employee
  </a>
</nav> -->
<div class="body">
  <div class="formbold-form-title">
    <h2 class="">Personal Infomation</h2>
  </div>
  <form [formGroup]="employee" (ngSubmit)="onSubmit()">
    <app-userform [formgroup]="personalInfo" />
    <div>
      <div class="formbold-mb-3">
        <label for="empID" class="formbold-form-label"> Employee ID: </label>
        <input
          type="text"
          formControlName="empID"
          class="formbold-form-input" />
          <app-showerror [form]="employee" [controlname]="'empID'"/>
      </div>

      <div class="formbold-mb-3">
        <label for="possition" class="formbold-form-label"> Position: </label>
        <input
          type="text"
          formControlName="position"
          class="formbold-form-input" />
          <app-showerror [form]="employee" [controlname]="'position'"/>

      </div>
    </div>

    <app-addressform [formarray]="address" />

    <button class="formbold-btn" type="submit">SUBMIT</button>
  </form>
</div>
