<div>
  <form [formGroup]="employee" (ngSubmit)="onSubmit()">
    <app-userform [user]="employee" />
    <div>
      <div>
        <label for="empID">Employee ID:</label>
        <input formControlName="empID" />
      </div>
      <div>
        <label for="possition">Position:</label>
        <input formControlName="position" />
      </div>
      <div>
        <label for="role">Role:</label>
        <input formControlName="role" />
      </div>
    </div>

    <div>
      <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
  </form>
</div>
