<ul>
    <li><a routerLink="1">Form Input</a></li>
    <li><a routerLink="2">Validate Data</a></li>
    <li><a routerLink="3">Reactive Form</a></li>
    <li><a routerLink="4">Dynamic Form</a></li>
</ul>

<p>Angular has two form: reactive vs template-driven</p>
<p>theo angular docs có 4 khác biệt chính giữa 2 form:</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reactive</th>
            <th scope="col">Template-Driven</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Setup</th>
            <td>sử dụng common component class( formcontrol, formgroup, formbuilder, ..)</td>
            <td>sử dụng directive( ngModel, ngForm, ...)</td>
        </tr>
        <tr>
            <th scope="row">DataModel</th>
            <td>Có cấu trúc(khai báo các thành phần trong form ở file component)</td>
            <td>Phi cấu trúc</td>
        </tr>
        <tr>
            <th scope="row">DataFlow</th>
            <td>Đồng bộ(khi nhập dữ liệu vào thẻ input từ file html giá trị sẽ được cập nhật trực tiếp ở file component thông qua common class)</td>
            <td>Bất đồng bộ(khi nhâp liệu dữ liệu sẽ được lưu vào trong biến được tạo ở file component, quá trình không giải ra ngay)</td>
        </tr>
        <tr>
            <th scope="row">Form validation</th>
            <td>Function(validate ở component)</td>
            <td>Directive(validate ở template)</td>
        </tr>
    </tbody>
</table>
<h5>Template-Driven</h5>
<ul>
    <li><p>import FormModule</p></li>
    <li><p>gồm các directive ngModel, ngForm, ngModelGroup</p></li>
    <li><p>dùng tạo form đơn giản, không có tính tái sử dụng</p></li>
    <li><p>thích hợp làm form đơn giản có thể validate trực tiếp ở template</p></li>
</ul>

<h5>Reactive</h5>
<ul>
    <li><p>import ReactiveFormModule</p></li>
    <li><p>gồm các class formControl, formGroup, formBuilder</p></li>
    <li><p>thích hợp làm form phức tạp</p></li>
</ul>