<nav class="nav">
  <a class="nav-link" routerLink="/" >Home</a>
  <a class="nav-link" routerLink="/day1" >Day1</a>
  <!-- <a class="nav-link" routerLink="/day2" >Day2</a> -->
  <a class="nav-link" routerLink="/day6" >Day6</a>
  <!-- <a class="nav-link" routerLink="/ex1" >Ex1</a> -->
  <a class="nav-link" routerLink="/ex" >EX</a>
</nav>
<router-outlet></router-outlet>

<!-- <button (click)="toggleVisibility()">Toggle Visibility</button>

<div *ngIf="isVisible" [@fadeInOut]>
  This element fades in and out!
</div> -->

<!-- <app-form></app-form> -->
<!-- <app-formgroup></app-formgroup> -->
<!-- <app-formbuilder></app-formbuilder> -->