<nav class="nav">
  <a class="nav-link" routerLink="/" >Home</a>
  <a class="nav-link" routerLink="/day1" >Day1</a>
  <a class="nav-link" routerLink="/day2" >Day2</a>
  <a class="nav-link" routerLink="/day3" >Day3</a>
  <a class="nav-link" routerLink="/day4" >Day4</a>
  <a class="nav-link" routerLink="/day5" >Day5</a>
  <a class="nav-link" routerLink="/day6" >Day6</a>
  <a class="nav-link" routerLink="/day7" >Day7</a>
  <!-- <a class="nav-link" routerLink="/ex1" >Ex1</a> -->
  <a class="nav-link" routerLink="/ex" >EXERCISE</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-form></app-form> -->
<!-- <app-formgroup></app-formgroup> -->
<!-- <app-formbuilder></app-formbuilder> -->