<ul>
    <li><a routerLink="1">String Interpolation</a></li>
    <li><a routerLink="2">Property Binding</a></li>
    <li><a routerLink="3">Event Binding</a></li>
    <li><a routerLink="4">Two-way Binding</a></li>
    <li><a routerLink="5">Component life cycle</a></li>
</ul>

<p>Để hiển thị dữ liệu ở phía template cần sử dụng {{ } }</p>

<p>Để truyền dữ liệu từ component cha vào component con</p>
<p>Ở component cha tạo biến với nội dung cần truyền. Tại component con khai báo decorator &#64;Input</p>
<app-parent></app-parent>
