<ul>
    <li><a>Why do we need to use Service</a></li>
    <li><a>Simple Service</a></li>
    <li><a>Working with Data Service</a></li>
</ul>

<h5>Simple get api</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <th scope="row">{{post.id}}</th>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
    </tbody>
</table>