<ul>
    <li><a routerLink="1">Communicate between component</a></li>
    <li><a routerLink="2">Directive</a></li>
    <li><a routerLink="3">ngIf, ngFor, ngSwitch</a></li>
    <li><a routerLink="4">ngStyle, ngClass, ngContainer</a></li>
</ul>

<div style="display: block; width: 70%;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">&</th>
                <th scope="col">!</th>
                <th scope="col">*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Communicate component</td>
                <td>Các component tương tác với nhau, truyền dữ liệu và bắt sự kiện sử dụng chủ yếu Decorator &#64;Input &#64;Output</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Directive</td>
                <td>
                    <p>Dùng để tùy chỉnh template có 2 loại chính Attribute, Structural</p>
                    <p>Attribute: ngStyle, ngClass, ngModel</p>
                    <p>ngStyle(css dựa theo giá trị của đối tượng, có thể kết hợp vs ngIf để tùy chỉnh giao diện)</p>
                    <p>ngClass thêm hoặc bỏ css theo 1 điều kiện</p>
                    <p>ngModel(dùng liên kết dữ liệu 1 biến ở component và tempalte input)</p>
                    <!-- Structural -->
                    <p>Structural: ngFor, ngIf</p>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>