<div class="formcenter">
    <div class="card-body">
        <h5 class="card-title">Dynamic Question Form</h5>
        <form [formGroup]="formQA" (ngSubmit)="onSubmit()">
            <button class="btn btn-success" (click)="newQA()">New Q/A</button>
            <div formArrayName="listQA" *ngFor="let qa of getListQA().controls; let i = index">
                <div [formGroupName]="i">
                    <div class="form-group question">
                        <label for="question">Question</label>
                        <select id="question" class="form-control" formControlName="question">
                            <option *ngFor=" let question of questions" [ngValue]="question">{{question.question}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group question">
                        <label for="question">Answer </label>
                        <select id="question" class="form-control" formControlName="answer">
                            <option *ngFor=" let answer of answers" [value]="answer">{{answer.answer}}</option>
                        </select>
                    </div>
                    <button class="btn btn-danger" (click)="delQA(i)">Delete</button>
                    <p>---------------------------------------------------------------</p>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary submit">Submit</button>
        </form>
    </div>
</div>