<!-- <p>home works!</p>
<div [ngStyle]="isMetric ? metricStyle : imperialStyle">
    <div [ngSwitch]="isMetric">
        <div *ngSwitchCase="true">Degree Celsius</div>
        <div *ngSwitchCase="false">Fahrenheit</div>
        <div *ngSwitchDefault>Default</div>
    </div>
</div>
<button (click)="toggleMetric()">Toggle Unit</button> -->

<!-- <app-header></app-header> -->
<!-- <app-parent></app-parent> -->
<!-- <app-todolist></app-todolist> -->

<!-- <div [ngClass]="{'metric': isMetric, 'imperial': !isMetric}">
    <p>hello</p>
  </div>
  
  <button (click)="toggleMetric()">Toggle Unit</button>
   -->